:root {
    --favorite-color: rgb(10, 255, 0);
    --second-preferred-color: yellow;
    --another-color: rgb(0, 0, 255);
    --exceptional-color: black;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: rgb(0, 0, 128);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: var(--favorite-color);
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    color: navy;
    padding: 10px;
}

body {
    font-family: var(--body-font);
    color: var(--exceptional-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--another-color);
}

.company-detail p {
    font-size: smaller;
    align-content: center;
}

nav,
section,
article {
    margin: 8px;
    padding: 16px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 5px;
    width: 98%;
    opacity: 0.8;
    background-color: var(--second-preferred-color);
    padding: 5px;
    text-align: justify;
}

.hero article img {
    padding: 5px;
    float: right;
    width: 125px;
}

.nero {
    position: relative;
}

.nero h1 {
    position: absolute;
    color: #fff;
    width: 100%;
}

.nero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    /* position: absolute; */
    top: 20px;
    width: 100%;
    opacity: 0.6;
    text-align: center;
    /* background-color: var(--favorite-color); */
    color: var(--exceptional-color);
    font-size: xx-large;
}

.address {
    display: block;
    padding: 0;
    place-items: center;

}

.details {
    display: block;
    text-align: justify;
    margin: 0;
}

.comfort {
    position: relative;
}

.comfort img {
    display: block;
    width: 100%;
    height: auto;
}

.comfort h1 {
    position: absolute;
    top: 1px;
    color: rgb(255, 255, 255);
}

.comfort article {
    position: absolute;
    bottom: 5px;
    left: 2px;
    width: 99%;
}

.exquisite {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

/* #fisher {
    grid-column-start: 3;
    width: 350px;
} */

.exquisite p {
    margin-top: 5px;
    padding: 7px;
    color: #fff;
    background-color: skyblue;
    text-align: justify;
}

.prompt {
    padding: 4px;
}

.add {
    padding: 5px;
}

.add checkbox {
    justify-content: baseline;
}

.optus {
    padding: 3px;
    width: 150px;
}

.pick {
    display: grid;
    grid-template-columns: 5fr 4fr;
    width: 70%;
    margin-top: 5px;
}

.pick select {
    width: 250px;
}

.pick label {
    padding: 2px;

}

.info {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 70%;
}

.info label {
    margin-top: 5px;
    margin-left: 5px;
    justify-items: center;
    align-items: center;
}

.info input {
    padding: 5px;
}

.exquisite figcaption {
    color: #fff;
    background-color: green;
    font-size: xx-small;
    text-align: center;
    padding: 1px;
}

.comfort article img {
    height: 185px;
    width: 200px;
    justify-content: baseline;
}

.under-title {
    display: block;
    box-sizing: border-box;
    font-size: small;
    text-align: center;
    max-width: 10rem;
    align-items: center;
    margin-left: 200px;
}

.fillmap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
}

iframe {
    max-width: 350px;
    max-height: 25rem;
}

form {
    margin: .5rem;
    border: 1px solid #000;
    padding: .5rem;
    background-color: #ddd;
    color: #111;
    margin-left: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.question {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 5px;
    align-items: center;
}

/* .submit {
    width= 400px;
} */

input {
    padding: 5px;
    margin: 2px;
}

.options {
    display: grid;
    grid-template-rows: repeat(3, 1fr);

}

.option-child {
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding: 5px;
}

textarea {
    margin-top: 7px;
}

.check {
    margin-top: 5px;
}

button {
    background-color: black;
    color: whitesmoke;
    display: block;
    margin: 15px auto;
    padding: 10px;
    border-radius: .75rem;
    border: 1px solid rgb(0 0 0/10%);
    font-size: larger;
    width: 100%;
}

h2 {
    background-color: var(--another-color);
    text-align: center;
    padding: 5px;
    margin: 0;
    color: #fff;
}

.fill {
    display: grid;
    grid-template-columns: 1fr 4fr;
    text-align: center;
}

.fill label {
    padding: 20px;
    margin-right: 5px;
}

.fill input {
    margin: 2px 5px;
}

/* p {
    text-align: justify;
} */
.submit a {
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

.explore-more {
    box-sizing: border-box;
    display: block;
    background-color: green;
    padding: 5px;
    text-align: center;
    width: 97%;
    border-radius: .75rem;
    font-size: x-large;
}

.explore-more li a {
    text-decoration: none;
    color: white;

}

.plus {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.more-adventure {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
    justify-content: center;
    margin: 5px;
}

.more-adventure img {
    width: 150px;
    height: 210px;
    margin: 7px;
}

.more-pleasure {
    margin: 5px;
}

.more-pleasure img {
    float: right;
    width: 105px;
    height: 105px;
    padding: 5px;
}

.histoire {
    display: flex;
}

.histoire img {
    margin: 20px 10px;
    padding: 0;
    max-height: 300px;
}

.album {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.album img {
    display: block;
    margin: 5px auto;
    min-height: 125px;
}

.album figcaption {
    display: block;
    text-align: center;
    font-size: medium;
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.team img {
    display: block;
    margin: 5px auto;
    min-height: 125px;
}

.team figcaption {
    display: block;
    text-align: center;
    font-size: medium;
}

footer {
    background-color: greenyellow;
    display: flex;
}

footer p {
    text-align: center;
    margin: 20px 110px;
}

.socialmedia {
    padding: 10px 40px;
    text-align: right;
}