:root {
    --favorite-color: rgb(10, 255, 0);
    --second-preferred-color: yellow;
    --another-color: rgb(0, 0, 255);
    --exceptional-color: black;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: rgb(0, 0, 128);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: var(--favorite-color);
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    color: navy;
    padding: 10px;
}

body {
    font-family: var(--body-font);
    color: var(--exceptional-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--another-color);
}

.company-detail p {
    font-size: smaller;
    align-content: center;
}

nav,
section,
article {
    margin: 8px;
    padding: 16px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    /* position: absolute; */
    top: 20px;
    width: 100%;
    opacity: 0.6;
    text-align: center;
    /* background-color: var(--favorite-color); */
    color: var(--exceptional-color);
    font-size: xx-large;
}

.address {
    display: block;
    padding: 0;
    place-items: center;

}

.details {
    display: block;
    text-align: justify;
    margin: 0;
}

/* .title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 2px;
    margin-left: 120px;
} */

.under-title {
    display: block;
    box-sizing: border-box;
    font-size: small;
    text-align: center;
    max-width: 10rem;
    align-items: center;
    margin-left: 200px;
}

.fillmap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
}

iframe {
    max-width: 350px;
    max-height: 25rem;
}

form {
    margin: .5rem;
    border: 1px solid #000;
    padding: .5rem;
    background-color: #ddd;
    color: #111;
    margin-left: 0;
}

.question {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 5px;
    align-items: center;

}

input {
    padding: 5px;
    margin: 2px;
}

.options {
    display: grid;
    grid-template-rows: repeat(3, 1fr);

}

.option-child {
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding: 5px;

}

textarea {
    margin-top: 7px;
}

.check {
    margin-top: 5px;
}

button {
    background-color: black;
    color: whitesmoke;
    display: block;
    margin: 15px auto;
    padding: 10px;
    border-radius: .75rem;
    border: 1px solid rgb(0 0 0/10%);
    font-size: larger;
    width: 100%;
}

.hero article {
    position: absolute;
    bottom: 5px;
    width: 98%;
    opacity: 0.8;
    background-color: var(--second-preferred-color);
    padding: 5px;
    text-align: justify;
}

.hero article img {
    padding: 5px;
    float: right;
    width: 125px;
}

h2 {
    background-color: var(--another-color);
    text-align: center;
    padding: 5px;
    margin: 0;
    color: #fff;
}

/* p {
    text-align: justify;
} */

.histoire {
    display: flex;
}

.histoire img {
    margin: 20px 10px;
    padding: 0;
    max-height: 300px;
}

.album {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.album img {
    display: block;
    margin: 5px auto;
    min-height: 125px;
}

.album figcaption {
    display: block;
    text-align: center;
    font-size: medium;
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.team img {
    display: block;
    margin: 5px auto;
    min-height: 125px;
}

.team figcaption {
    display: block;
    text-align: center;
    font-size: medium;
}

footer {
    background-color: greenyellow;
    display: flex;
}

footer p {
    text-align: center;
    margin: 0 110px;
}

.socialmedia {
    padding: 10px 40px;
    text-align: right;
}