:root {
    --favorite-color: rgb(10, 255, 0);
    --second-preferred-color: yellow;
    --another-color: rgb(0, 0, 255);
    --exceptional-color: black;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: var(--second-preferred-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: red;
}

/* header img {
    background-color: red;
} */

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    color: navy;
    padding: 10px;
}

body {
    font-family: var(--body-font);
    color: var(--exceptional-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--another-color);
}

nav,
p,
section,
article {
    margin: 8px;
    padding: 16px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    opacity: 0.6;
    text-align: center;
    background-color: var(--favorite-color);
    color: var(--exceptional-color);
}

.hero article {
    position: absolute;
    bottom: 5px;
    width: 98%;
    opacity: 0.8;
    background-color: var(--second-preferred-color);
    padding: 5px;
    text-align: justify;
}

.hero article img {
    padding: 5px;
    float: right;
    width: 125px;
}

h2 {
    background-color: var(--another-color);
    text-align: center;
    padding: 5px;
    color: #fff;
}

p {
    text-align: justify;
}

.histoire {
    display: flex;
}

.histoire img {
    margin: 5px 10px;
}

.album {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.album img {
    display: block;
    margin: 5px auto;
    min-height: 125px;
}

.album figcaption {
    display: block;
    text-align: center;
    font-size: medium;
}

footer {
    background-color: greenyellow;
    display: flex;
}

footer p {
    text-align: center;
    margin: 0 110px;
}

.socialmedia {
    padding: 10px 40px;
    text-align: right;
}