* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

:root {
    --text-color: #fff;
    --mini-coul: 5px 10px #888888;

}

nav {
    background-color: darkblue;
    color: var(--text-color);
    /*#fff; */
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: right;

}

/* This is a comment. Please tell the computer to ignore it */
nav a {
    color: var(--text-color);
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: darkblue;
    border-bottom: 5px;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: var(--min-coul);
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

main p {
    margin-left: 1em;
}

aside {
    width: 18rem;
    text-align: justify;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid #eee;
    padding: 0 2px;
    margin: 0 40px 0 40px;
    box-shadow: var(--min-coul);
}

main img {
    float: right;
    width: 170px;
    height: auto;
    border: 2px solid #fff;
    padding: 3px;
    margin: 0 50px 0 50px;
    box-shadow: 5px 10px #888888;
}

footer {
    margin-top: 2em;
    border-top: 3px solid #eee;
    text-align: center;
}

/* Class selector */
.box {
    margin: 1rem;
    border: 1px solid#eee;
    padding: 1rem;
    background-color: rgb(0, 255, 0);
    color: red;
}

aside h2 {
    position: relative;
    top: 30px;
    left: 60px;
}

.grid {
    display: grid;
    grid-template-columns: 2fr, 1fr;
}

main {
    grid-column: 1/3;
}

aside {
    position: relative;
    grid-column: 3/4;
    grid-row: 1/2;
    width: 20 rem;
}