nav {
    background-color: darkblue;
    color: #fff;
    padding: 0;
}

/* This is a comment. Please tell the computer to ignore it */
nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    width: 18rem;
    margin: 10px 10px;
    border: 0;
    padding: 5px 10px;
    background-color: rgb(0, 0, 255);
    color: #fff;
    text-align: justify;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid #eee;
    padding: 0 2px;
    margin: 0 40px 0 40px;
    box-shadow: 5px 10px #888789;
}

main img {
    width: 170px;
    height: auto;
    border: 2px solid #fff;
    padding: 3px;
    margin: 0 50px 0 50px;
    box-shadow: 5px 10px #888888;
}

footer {
    margin-top: 2em;
    border-top: 3px solid #eee;
    text-align: center;
}